header {
    width: 100%;
    height: 20vh;
    background-color: rgb(73, 71, 71);
}

body {
    background-color: rgb(198, 221, 219);
    margin: 0;
    width: 100%;
    height: 100vh;
}

main {
    background-color: rgb(255, 255, 255);
    margin: 0 auto;
    width: 85%;
    height: 70vh;
}

footer {
    background-color: rgb(73, 73, 73);
    margin: 0 auto;
    width: 85%;
    height: 10vh;
}